<img src="/stylesheets/facho/FACHO_Logo_png.png">
<br /><br />
<div class="details">
  <p>
    The Member Dashboard is an online community where local health departments and districts with valid FACHO
    memberships can access documents training materials, software applications, and member forums.
  </p>
  <p>
    <a href="#">Click here</a> for a tutorial on registering for the Member Dashboard or call our help desk at (512) 814-2546.
  </p>
</div>